.title {
    color: darkblue;
    font-size: 20px;
}

.quiz {
    margin-top: 200px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    
}
.term {
    font-size: 30px;
}
.list {
    display: inline-block;
    width: 100px;
    list-style: none;  
}

.hidden {
    display: none;
    list-style: none;
}